@{
    ViewData["Title"] = "Add";
}

@model pgs_2.Models.Link
<div>
    @using (Html.BeginForm("Create", "Link", FormMethod.Post))
    {
        <label for="ex2">Please enter valid URL:</label>
        <input type="text" name="Url" placeholder="Url" class="form-control"/> <br/>
        <span asp-validation-for="Url" class="text-danger"></span> <br/>
        <button type="submit" class="btn btn-default">Add</button>
    }
</div>