@{
    ViewData["Title"] = "Edit";
}

@model pgs_2.Models.Link
<div class="grid">
    <div class="row">
        <table class="table table-striped">    
            <tr>
                <td><strong>@Html.DisplayNameFor(model => Model.Url):</strong></td>
                <td>@Html.DisplayFor(model => Model.Url),</td>
            </tr>
        </table>
    </div>

    <div class="row">
        @using (Html.BeginForm("Update", "Link", FormMethod.Post))
        {
            <div class="col-xs-3">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
                @Html.HiddenFor(model => Model.Id)
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        }
    </div>
</div>