@{
    ViewData["Title"] = "Link";
}

@model List<pgs_2.Models.Link>

<div class="grid">
    <div class="row">
        @using (Html.BeginForm("Create", "Link", FormMethod.Post))
        {
            <div class="col-xs-3">
                <label for="ex2">Please enter valid URL:</label>
                <input type="text" name="Url" placeholder="Url" class="form-control"/>
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        }
    </div>
    <div class="row">
        <table>
            <h2>Links</h2>
            <p>list of links:</p>
            <table class="table table-striped">            
            <thead>
                <tr>
                    <th><strong>Url:</strong></th>
                    <th><strong>Short link:</strong></th>
                </tr>
                </thead> 
                <tbody>
                @foreach(var item in Model) {    
                <tr>
                    <td>@Html.DisplayFor(model => item.Url)</td>
                    <td>@Html.ActionLink(item.Hash, "Test", "Redirect", new { id = item.Hash }, item)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Link", item, new { @class = "btn btn-danger btn-xs" })</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Link", item, new { @class = "btn btn-warning btn-xs" })</td>
                </tr>
                }
                </tbody>
            </table>
    </table>
    </div>
</div>