@{
    ViewData["Title"] = "Edit";
}

@model pgs_2.Models.Book
<div class="grid">
    <div class="row">
        <table class="table table-striped">
            <tr>
                <td><strong>@Html.DisplayNameFor(model => Model.Title):</strong></td>
                <td>@Html.DisplayFor(model => Model.Title),</td>
                <td><strong>@Html.DisplayNameFor(model => Model.Author):</strong></td>
                <td>@Html.DisplayFor(model => Model.Author)</td>
            </tr>
        </table>
    </div>

    <div class="row">
        @using (Html.BeginForm("Update", "Book", FormMethod.Post))
        {
            <div class="col-xs-3">
                <input type="text" name="Author" placeholder="Author" class="form-control"/> <br/>
                <input type="text" name="Title" placeholder="Title" class="form-control"/> <br/>
                @Html.HiddenFor(model => Model.Id)
                <button type="submit" class="btn btn-default">Add</button>
            </div>
        }
    </div>
</div>