@{
    ViewData["Title"] = "Books";
}

@model List<pgs_2.Models.Book>
<div class="grid">
    <div class="row">
        @using (Html.BeginForm("Create", "Book", FormMethod.Post))
            {
                <div class="col-xs-3">
                <label for="ex2">Please enter book details:</label>
                <input type="text" name="Author" placeholder="Author" class="form-control"/> <br/>
                <input type="text" name="Title" placeholder="Title" class="form-control"/> <br/>
                <button type="submit" class="btn btn-default">Add</button>
                </div>
            }
    </div>
    <div class="row">
        <table>
            <h2>Books</h2>
            <p>list of books:</p>
            <table class="table table-striped">            
            <thead>
                <tr>
                    <th><strong>Title:</strong></th>
                    <th><strong>Author:</strong></th>
                </tr>
                </thead> 
                <tbody>
                @foreach(var item in Model) {    
                <tr>
                    <td>@Html.DisplayFor(model => item.Title)</td>
                    <td>@Html.DisplayFor(model => item.Author)</td>
                    <td>@Html.ActionLink("Remove", "Remove", "Book", item, new { @class = "btn btn-danger btn-xs" })</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Book", item, new { @class = "btn btn-warning btn-xs" })</td>
                </tr>
                }
                </tbody>
            </table>
    </table>
    </div>
</div>